/* start src/main.css */
body {
    background-color: #333;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-size: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.header {
    vertical-align: 100px;
    display: flex;
    align-items: center;
}
select {
    height: 100%;
    margin-right: 10px;
}
.box {
    display: flex;
    height: calc(33.3333vh - 75px);
    z-index: 100;
}
.col {
    flex: 1;
    overflow-y: scroll;
    word-wrap: break-word;
    font-size: 13px;
    padding: 5px;
}
.map {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 4px #ccc solid;
}
.people {
    max-height: 10em;
    overflow: scroll;
}
.flag {
    max-width: 1.5em;
    max-height: 1em;
    border-radius: 0.2em;
    margin-right: 0.5em;
    vertical-align: 1px;
    display: inline;
}
.country > h1 {
    font-size: 20px;
}

/* end src/main.css */
