.warn_footer {
  background-color: #eee;
  position: absolute;
  height: 25%;
  width: 100%;
  left: 0;
  top: 75%;
}

.warn>img {
  position: absolute;
  top: 30%;
  z-index: 10;
  left: 22px;
  width: 40px;
  
}

.warn>button {
  font-family: Tahoma !important;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  width: 80px;
  bottom: 10px;
  right: 10px;
  background-color: #eaeaea;
  border: 1px solid #eee;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.warn>button:hover {
  background-color: #dddddd;
}

.warn>button:active {
  background-color: #ccc;
}

.warn_inner {
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 13px;
  vertical-align: middle;
  position: absolute;
  width: calc(100%-90px);
  left: 90px;
  top: 2em;
  height: 50%;
  background-color: #fff;
  
}

.x {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 12px;
  padding-top: 5px;
  display: block;
  font-family: Tahoma;
  z-index: 10;
  text-align: center;
  vertical-align: 10px;
  width: 60px;
  height: 1.8em;
}

.x:hover {
  animation: 0.1s linear f forwards;
}

@keyframes f {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  
  100% {
    background-color: #e00
  }
}

.warn {
  
  font-family: Tahoma;
  height: 150px;
  position: fixed;
  width: 440px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  padding: 10px;
  z-index: 10;
}

.warn_header {
  background-color: #fff;
  height: 2em;
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  
  font-size: 12px;
  cursor: move;
}

.warn_header>.path {
  
  position: absolute;
  top: 5px;
  left: 5px;
}
