@font-face {
    font-family: "Calamity Bold";
    src: url(CalamityBold.ttf);
}
@font-face {
    font-family: "Hylia Serif";
    src: url(HyliaSerifBeta-Regular.otf);
}
@font-face {
    font-family: "Ubuntu Mono";
    src: url(UbuntuMono.ttf);
}