.status {
    font-family: "Ubuntu Mono", monospace;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    display: inline;
}